<div class="login-page" *ngIf="!(authService.user | async)">
  <div class="form">
    <form class="login-form">
      <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="email"/>
      <input type="password" [(ngModel)]="password"  [ngModelOptions]="{standalone: true}" placeholder="password"/>
      <button (click)="authService.login(email, password)" [disabled]="!email || !password">login</button>
      <p class="message" style="color: #bb4b39" *ngIf="authService.loginerror">{{authService.loginerror}}</p>
      <p class="message" >Not registered? <a href="#" routerLink="/auth/register" >Create an account</a></p>
    </form>
  </div>
</div>
