<div class="login-page" *ngIf="!(authService.user | async)">
  <div class="form">
    <form>
      <input placeholder="first name" [(ngModel)]="name.first" [ngModelOptions]="{standalone: true}" required/>
      <input placeholder="last name" [(ngModel)]="name.last" [ngModelOptions]="{standalone: true}" required/>
      <input type="email" name="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="email" required/>
      <input type="password" name="password"[(ngModel)]="password"  [ngModelOptions]="{standalone: true}" placeholder="password" required/>
      <input type="password"  name="repassword" [(ngModel)]="repassword" [ngModelOptions]="{standalone: true}" placeholder="re-enter password" required/>
      <button (click)="signup()" [disabled]="!email || !password|| !repassword">register</button>
      <p class="message" style="color: #bb4b39" *ngIf="authService.signuperror">{{authService.signuperror}}</p>
      <p class="message" style="color: #bb4b39" *ngIf="!equal">passwords are not the same</p>
      <p class="message" >Already registered? <a routerLink="/auth/login">Login</a></p>
    </form>
  </div>
</div>
