<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div *ngFor="let item of items | async; let i = index">
         <button type="button" class="btn btn-primary btn-block" (click)="togglebox(item.$key, !item.hidden)">
           {{item.type}}
         </button>
        <div class="card animated fadeIn" id="cost{{i}}" [hidden]="item.hidden">
          <div class="card-block">
            <form action="" method="post" class="form-horizontal">
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Cost Type</label>
                <div class="col-md-9">
                  <input type="text" #updatetext [value]="item.type"  id="question" name="question" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Amount</label>
                <div class="col-md-9">
                  <div class="input-prepend input-group">
                    <span class="input-group-addon">$</span>
                    <input type="number" #updatedefault [value]="item.amount"  id="default" name="default" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">One Time?</label>
                <div class="col-md-9">
                  <label class="switch switch-3d switch-primary">
                    <input type="checkbox" class="switch-input" #updatedcheck [checked]="item.otc">
                    <span class="switch-label"></span>
                    <span class="switch-handle"></span>
                  </label>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Description</label>
                <div class="col-md-9">
                  <textarea rows="9" class="form-control" #newdesc [value]="item.desc" placeholder="Description.."></textarea>
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary" (click)="updateItem(item.$key, updatetext.value, updatedefault.value, updatedcheck.checked, newdesc.value)"><i class="fa fa-dot-circle-o"></i> Update</button>
            <button type="reset" class="btn btn-sm btn-danger" (click)="deleteItem(item.$key)"><i class="fa fa-ban"></i> Delete</button>
          </div>
        </div>
        <div class="dropdown-divider" style="border-color: transparent"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Add a Cost</strong>
        </div>
        <div class="card-block">
          <form action="" method="post" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Cost Type</label>
              <div class="col-md-9">
                <input class="form-control" type="text" [(ngModel)]="costType" [ngModelOptions]="{standalone: true}" placeholder="new question" autofocus/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Amount</label>
              <div class="col-md-9">
                <div class="input-prepend input-group">
                  <span class="input-group-addon">$</span>
                  <input type="number" class="form-control" [(ngModel)]="costAmount" [ngModelOptions]="{standalone: true}" placeholder="Default $">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">One Time?</label>
              <div class="col-md-9">
                <label class="switch switch-3d switch-primary">
                  <input type="checkbox" class="switch-input" [(ngModel)]="costOnetime" [ngModelOptions]="{standalone: true}" checked>
                  <span class="switch-label"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Description</label>
              <div class="col-md-9">
                <textarea rows="9" class="form-control" [(ngModel)]="costDesc" [ngModelOptions]="{standalone: true}" placeholder="Description.."></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" (click)="addItem()"><i class="fa fa-plus-circle"></i> Add</button>
        </div>
      </div>
    </div>
  </div>
</div>
